/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

 /* Header */
header {
    background-color: #3f33ebea;
    color: rgb(241, 234, 233);
    text-align: center;
    padding: 20px;
}

/* nav */
nav {
    background-color: #f4f4f4;
    padding: 10px;
    /*para los logos de instagram y GitHub*/
    width: 400px;
    border-radius: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #463b3bab;
    margin-right: 50px;
}

nav a:hover {
    color: #666;
}

/* main */
main {
    padding: 20px;
}

/* article */
article {
    margin-bottom: 30px;
}

article h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

article ul {
    list-style: none;
    padding: 0;
}

article li {
    margin-bottom: 5px;
}

article p {
    margin: 0;
}

/* section */
section {
    margin-bottom: 30px;
}

/* Imágen */
img {
    width: 30%;
    height: auto;
}

/* Video */
video {
    width: 30%;
    height: auto;
}